{
  "presents": [
    "flow"
  ],
  "rules" : {
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/click-events-have-key-events": 0
  },
  "plugins": [
    ["babel-plugin-styled-components", {
      "ssr": true
    }],
    "transform-flow-strip-types"
  ]
}
